@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
